.Board {
    border: 1px solid white;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    height: 75vh;
    display: grid;
    padding: 0px;
    gap: 10px;
    padding-top: 20px;
    padding-left: 20px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.Board > * {
    border: 1px solid white;
    border: 15px;
    aspect-ratio: 1 / 1;
}